.navpanel {
    width: fit-content;
    height: 100%;
    background-color: hsl(0, 0%, 95%);
}

.sidebar {
    box-sizing: border-box;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    border-radius: 7px
}

a.menu-item {
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
    display: flex;
}

.menu-item:hover {
    background-color: #44444444;
}

.level-0 {
    background-color: #f1f1f1;
}

.level-1 {
    background-color: #e1e1e1;
}

.level-2 {
    background-color: #d1d1d1;
}

.arrow {
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s;
}

.arrow.open {
    transform: rotate(90deg);
}

.submenu {
    margin-left: 20px;
    display: none;
    height: 100%;
    box-sizing: border-box;
    transition: "0.3s",
}

.submenu.level-1 {
    /* margin-left: 200px; */
    position: absolute;
    top: 0;
    left: 1px;
    width: 200px;
    background-color: #e1e1e1;
    padding: 10px;
    display: block;
}

.submenu.level-2 {
    /* margin-left: 200px; */
    position: absolute;
    top: 0;
    left: 0px;
    width: 200px;
    background-color: #d1d1d1;
    padding: 10px;
    display: block;
}

.arrowButton {
    height: 15px;
    position: relative;
    z-index: 1;
    /* position: absolute; */
    top: 25px;
    /* left: 160px; */
    cursor: pointer;
    /* transform: scale(-1, -1); */
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    transition: 0.3s;
}

.arrowButton:hover{
    transition: 0.3s;
    opacity: 0.5;
}

.collapsed {
    background-color: #44444444;
    margin: 5px;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapsed:hover {
    opacity: 0.7;
}